/* CLIENTES */
.caja1_clientes{
    width:960px;
    height: 258px;
    background-color: green;
    position: relative;

}
.h2_texto_clientes{
    color: #ADFF28;
    
}
.caja2_clientes{
    width: 820px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 80px;
    right: 65px;
}
.image_client{
    width: 178px;
   
}