h2{
    height: 80px;
    font-size: $font-size-h2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
   
}

.h2_sobre_mi{    
    color:#1D06A7;
       
}