/* seccion My Skills */
.my_skills{
    background-color: #9022FF;
    height: 420px;
}
.h2_my_skills{
    color: #26CC4B;
}
.skills_caja1{  
    height: 270px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;    
}
.caja2_1{  
    width: 430px;
    height: 90px;
    position: absolute;
}
.caja2_2{
    width: 430px;
    height: 90px;
    position: absolute;
    right: 0px;
}
.caja2_3{
    width: 430px;
    height: 90px;
    position: absolute;
    top: 90px;
}
.caja2_4{
    width: 430px;
    height: 90px;
    position: absolute;
    right: 0px;
    top: 90px;
}
.caja2_5{
    width: 430px;
    height: 90px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.caja2_6{
    width: 430px;
    height: 90px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.caja3{
    background-color: white;
    width: 400px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: 35px;
}
.caja4{
    background-color: #57EFF9;
    width: 200px;
    height: 20px;
    border-radius: 10px;
}