/*PORTAFOLIO*/
.caja1_portafolio{
    width: 960px;
    height: 424px;
    background-color: #FFD233;
    position: relative;
}
.h2_texto_portafolio{
    color:#00AD84
    ;
}
.caja2_portafolio{
    width: 593px;
    height: 198px;
    
    position: absolute;
    right:183.5px ;
    bottom: 100px;
    
    
}
.caja2_sup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}
.caja2_inf{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}