.figuras_servicios_arriba{
    display: flex;
    justify-content: center;
  }
  .figuras_servicios_abajo{
    display: flex;
    justify-content: center;
  }
  .img_servicios{
    margin: 40px;
  
  }