/*HEADER
aca iran estilos del header
*/
header{
    width: 100%;
    background-color: #9ECEFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .imagen_logo{
    width: 139px;
    height: 40px;
    margin: 20px;
  }
  .navegacion_superior{
    display: flex;
    margin: 20px;
  }
  a{
    text-decoration: none;
    margin: 10px;
  }
  a:hover{
    color: #87119A;
    font-weight: bold;
  }