/*
GLOBAL
estilos globales, aca ira los selectores de 
etiquetas globales
*/
html {
  font-size: 62.5%;
}

body {
  font-family: arial;
}

/*HEADER
aca iran estilos del header
*/
header {
  width: 100%;
  background-color: #9ECEFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagen_logo {
  width: 139px;
  height: 40px;
  margin: 20px;
}

.navegacion_superior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

a {
  text-decoration: none;
  margin: 10px;
}

a:hover {
  color: #87119A;
  font-weight: bold;
}

main {
  padding: 40px;
}

.barra_vertical_h2 {
  width: 8px;
  height: 45px;
  background-color: #87119A;
  margin-right: 15px;
}

h2 {
  font-size: 2.4rem;
  color: #87119A;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 1.6rem;
  line-height: 3.4rem;
  margin-bottom: 30px;
}

.figuras_nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.figuras_servicios_arriba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.figuras_servicios_abajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img_servicios {
  margin: 40px;
}

.imgs_portafolio {
  width: 250px;
}

.img_portaf_sup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contacto {
  /* background-color: blueviolet; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 300px;
}

.img_contacto {
  width: 500px;
}

.contacto_datos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto_datos_arriba {
  margin-top: 30px;
  margin-left: 30px;
}

footer {
  height: 100px;
  background-color: #9ECEFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
}

.derechos {
  margin-left: 30px;
}

.desarrollador {
  margin-right: 30px;
}