/*
GLOBAL
estilos globales, aca ira los selectores de 
etiquetas globales
*/
body {
  font-size: 16px;
  font-family: arial;
  }

main{
  margin-left: 40px;
}  

h2 {
  font-size: 24px;
}

/*HEADER
aca iran estilos del header
*/
header{
  width: 100%;
  background-color: #9ECEFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imagen_logo{
  width: 139px;
  height: 40px;
  margin: 20px;
}
.navegacion_superior{
  display: flex;
  margin: 20px;
}
a{
  text-decoration: none;
  margin: 10px;
}
a:hover{
  color: #87119A;
  font-weight: bold;
}

/* Barra vertical delante de h2*/

.barra_vertical_h2{
  width: 8px;
  height: 45px;
  background-color: #87119A;
  margin-right: 15px;
  
}
h2{
  font-size: 28px;
  color: #87119A;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
p{
  line-height: 2rem;
  margin-bottom: 30px;
  
}
/*
HOME
aca iran estilos de la seccion home*/
.figuras_nosotros{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*
SERVICIOS
aca iran estilos de la seccion servicios*/
.figuras_servicios_arriba{
  display: flex;
  justify-content: center;
}
.figuras_servicios_abajo{
  display: flex;
  justify-content: center;
}
.img_servicios{
  margin: 40px;

}
/*
PORTAFOLIO
aca iran estilos de la seccion portafolio*/


.imgs_portafolio{
  width: 250px;
}
.img_portaf_sup{
  display: flex;
  flex-wrap: nowrap;
}

/*
CONTACTO
aca iran estilos de la seccion contacto*/
.contacto{
  /* background-color: blueviolet; */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 300px;
}
.img_contacto{
  width: 500px;
}
.contacto_datos{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contacto_datos_arriba{
  margin-top: 30px;
  margin-left: 30px;
}

/*
FOOTER
aca iran estilos de la seccion footer*/

footer{
  /* padding: 20px;
  height: 20px; */
  /* width: 100%; */
  height: 100px;
  background-color: #9ECEFA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.derechos{  
  margin-left: 30px;
}
.desarrollador{
  margin-right: 30px;
} 