/*
FOOTER
aca iran estilos de la seccion footer*/

footer{
    color: white;
    display: flex;
    width: auto;
    height: 103px;
    justify-content: space-between;
    align-items: center;
    background: #00AF1C;
  }
  .footer1{
    margin-left: 40px;
  }
  
  .footer2{
    margin-right: 40px;
  }