/*HEADER
aca iran estilos del header
*/

header{
    background: #00AF1C;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  h1{
    margin-left: 40px;
  }
  
  a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
  }