/*
HOME
aca iran estilos de la seccion home*/

.home{
    color: #3B06D2;
  }
  
  .imageSet1{
    /* background: purple; */
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  .im{
    margin-right:20px ;
    margin-bottom: 20px;
  }