/*
PORTAFOLIO
aca iran estilos de la seccion portafolio*/
.portafolio{
    color: greenyellow;
  
  }
  .serv_portafolio{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .cinco{
    color: rgb(233, 233, 74);
    margin-bottom:10px ;
    }
  .seis{
    color: red;
    margin-bottom:10px ;
  }
  .siete{
    color: blue;
    margin-bottom:10px ;
  }
  .ocho{
    color: green;
    margin-bottom:10px ;
  }