/*
SERVICIOS
aca iran estilos de la seccion servicios*/
.servicios{
    color: rgb(214, 49, 214);
  }
  
  .uno{
    color: red;
    margin-bottom:10px ;
  }
  .dos{
    color: blue;
    margin-bottom:10px ;
  }
  .tres{
    color:#ebe04c ;
    margin-bottom:10px ;
  }
  .cuatro{
    color: rgb(0, 195, 255);
    margin-bottom:10px ;
  }
  .lista1{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    }