*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    width: 960px;
    height: 80px;
    background-color: red;
}
main{
    width: 960px;
    height: auto;
    background-color: #C4C4C4;
    display: flex;
    
}
aside{
    width: 300px;
    height: 864px;
    background-color: #3c269c
}
.contenedor{
    width: auto;
    height: auto;
    background-color: #C4C4C4;
    margin: 16px;
    display: flex;
    flex-direction: column;
}
h1{
    padding-top: 16px;
    padding-bottom: 16px;
}
p{
    font-size: 18px;
    line-height: 32px;
    
}
.imagenes{  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
}

footer{
    width: 960px;
    height: 80px;
    background-color: red;
}